/*------ common elements --------*/
:root {
    --black: #161C22;
    --primary-100: #F8F9FB;
    --primary-200: #E1ECF7;
    --primary-300: #AECBEB;
    --primary-400: #848D9A;
    --primary-500: #0C4495;
    --white: #fff;
    --accent-1: #FF67A3;
    --accent-2: #F8F600;
    --font-size: 1.3rem;
    --mono: "Coiny", monospace;
    --sans: "Nunito", sans-serif;
}

body {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.desktop_only {
    display: none;
}

.primary-500 {
    color: #71A5DE;
}

nav {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#nav_ul_center {
    width: 60%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.nav_li_center {
    padding-right: 30px;
}


/* menu  burger*/

.cta--burger {
    position: absolute;
    top: 10px;
    right: 23px;
    height: 17px;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.cta--burger .trait {
    height: 2px;
    width: 100%;
    background-color: #000;
}

.menu--burger {
    height: 100vh;
    width: 40%;
    background: linear-gradient(to right, #0C4495, #011B90);
    color: whitesmoke;
    opacity: 70%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
}

.menu--burger ul li {
    list-style: none;
    text-align: left;
    padding-top: 5px;
}

.menu--burger ul {
    padding-left: 15px;
    padding-top: 5px;
    margin-top: 0;
}

.menu--burger ul li a {
    text-decoration: none;
    color: white;
}


/* menu  burger end*/

.nav_li {
    list-style: none;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.nav_li:hover {
    color: #0C4495;
    /*texte se colore en bleu au survol*/
}

header ul li a {
    text-decoration: none;
    color: black;
}

.cta_primary {
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background-color: #0C4495;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.cta_primary:hover {
    background: linear-gradient(#0C4495, #011A71);
    /*background dégradé bleu au survol*/
}

.cta_primary a {
    color: white;
    height: 20px;
}

.logo {
    height: 60px;
    width: 90px;
    padding-left: 5px;
    padding-top: 0;
    margin-top: 0;
}

h2 {
    font-family: 'Coiny', cursive;
    line-height: 25px;
}

h3 {
    margin-top: 5px;
    color:#0C4495;
    font-size: 30px;
}

h4 {
    margin-bottom: 5px;
}


/*------ common elements end--------*/


/*------ welcome page --------*/

#hero {
    background-position-y: bottom;
    height: 60vh;
    width: 100vw;
    background-image: url(assets/landscape1.jpg);
    background-size: cover;
    background-position: center;
}

.welcome main h2 {
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 15px;
    line-height: 20px;
    margin-bottom: 60px;
}

.call-action-plus {
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-500);
    padding: 0.5rem;
    border-radius: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 50px;
}

.text-box a:hover {
    color: var(--accent-1);
    text-decoration: none;
}

.text-left {
    margin-right: 0;
}

.tag {
    font-size: 45px;
    font-style: italic;
    color: #FF67A3;
}

.tag-right {
    padding-left: 95%;
    padding-right: 95%;
}

#wrappertitle {
    margin-top: 20px;
    padding-top: 30px;
    margin-bottom: 100px;
    font-size: 33px;
}

#wrappertitle strong {
    font-size: 40px;
}

#contour-line {
    width: 80vw;
    height: auto;
    padding-left: 10%;
}

article {
    padding-left: 20px;
    padding-right: 25px;
}

article p {
    text-align: justify;
}

.path {
    stroke-dasharray: 4000;
    stroke-dashoffset: 4000;
    animation: dash 5s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
/*------welcome page end-------*/


/*------contact page-------*/

.contact body {
    font-family: "Fjalla One";
}

.contact_h1 {
    color: black;
    font-size: 2rem;
    font-family: "Coiny";
    margin: 5px auto;
    line-height: 2rem;
    text-align: center;
    top: 0px;
}

h1 strong {
    color: #0C4495;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    border-color: white;
}

.contact_form #fname,
#lname,
#email,
#comments {
    min-width: 320px;
    max-width: 1000px;
    padding: 12px 12px;
    margin-top: 5px;
    border: 1px solid #F8F600;
    border-radius: 5px;
    background-color: #FEFDCC;
}

.contact #checkbox {
    margin-bottom: 30px;
}

.contact_form p {
    font-family: "Fjalla One";
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.contact_form input[type='submit'] {
    font-size: 1em;
    padding: 7px 20px;
    font-weight: 300;
    border: 1px solid #0C4495;
    border-radius: 30px;
    background-color: #0C4495;
    color: white;
}


/*------contact page end-------*/


/*------template page 2-------*/

.title-template {
    display: block;
}

.section-template {
    overflow: hidden;
}

.article-template h2 {
    color: #FF67A3;
    font-size: 22px;
    margin-top: 25px;
}

.section-template p {
    font-size: 0.85em;
    line-height: 15px;
}

.blue-section {
    background-color: #0C4495;
    background-image: url(assets/Asset2logo.svg);
    background-size: 120%;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding: 1em;
}

.white-section {
    padding: 1em;
}

.figure-template {
    height: 25vh;
}

.article-template {
    padding: 1em;
    margin-left: 6em;
    margin-top: -2em;
    background: #fff;
    border: 5px solid #0C4495;
    border-radius: 20px;
}

img {
    height: 100%;
    margin-left: 0;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    border: 5px solid #0C4495;
    margin-bottom: 50px;
}


/* Discovery cards */

.section-cards-discovery {
    background-color: #AECBEB;
    padding-top: 3px;
    padding-bottom: 3px;
}

.section-cards-discovery h2 {
    color: #fff;
    font-size: 2rem !important;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.cards-discovery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.card-discovery a {
    text-decoration: none;
    color: #0C4495;
}

.title-discovery {
    font-size: 1em;
    color: #0C4495;
}

.img-discovery {
    border-radius: 30px;
    min-width: 100%;
    box-sizing: border-box;
}

.card-discovery {
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    margin: 2vw 10vw 2vw 10vw;
}

.card-discovery :hover {
    transition: .5s;
    transform: translate(5px, -5px);
}


/*------template page 2 end -------*/


/*------footer-------*/

.footer {
    margin-top: 20px;
    background-color: #0C4495;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 50px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: #fff;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-logo-container {
    max-width: 50vw;
}

.logo-footer {
    max-width: 100%;
    margin-top: 20px;
    margin-left: -30px;
}

.footer-menu {
    margin: 10px 0px 20px 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-menu-list {
    list-style: none;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-newsletter {
    margin: 10px 0px 20px 30px;
}

#email-newsletter {
    padding: 5px 5px;
    margin-top: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #FEFDCC;
}

.social-menu {
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.social-menu i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    background-color: #FF67A3;
}

.social-menu i:before {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.social-menu a {
    text-decoration: none;
}

.social-menu i:hover {
    opacity: .7;
    border-radius: 0;
}

.footer-copyright {
    background-color: #0C4495;
    ;
    color: #fff;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}


/*------footer end-------*/


/*------media queries-------*/

@media screen and (min-width: 321px) {
    #hero {}
}

@media screen and (min-width: 768px) {
    .logo {
        height: 80px;
        width: 170px;
        padding-left: 20px;
    }
    #hero {
        height: 80vh;
    }

    .welcome main h2 {
        line-height: 40px;
        font-size: 35px;
        margin-top:35px;
        margin-bottom: 20px;
    }

    .welcome main h4 {
        font-size: 22px;
    }

    .welcome p {
        font-size: 20px;
    }
    .section-template p {
        line-height: 28px;
    }
    
    .tag {
        font-size: 55px;
    }

    .call-action-plus {
        width: 180px;
    }

    #projects h2 {
        margin-bottom: 70px;
        margin-top: 50px;
    }

    #projects article {
        display : flex;
        justify-content: space-around;
        margin-bottom: 100px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #contour-line {
        width: 70vw;
        height: 60vh;
        padding-left: 10%;
    }
    .reverse {
        flex-direction: row-reverse;
    }

    .text-right {
        margin-left: 80px;
        margin-right: 25px;
    }

    .text-left {
        margin-right: 80px;
        margin-left: 25px;
    }

    article img {
        height: 90%;
        width: 45vw;
    }


    figure img {
        height: 100%;
        width: 45vw;
        margin-left: 45px;
    }

    #wrappertitle {
        font-size: 50px;
        margin-bottom: 40px;
    }

    #wrappertitle strong{
        font-size: 60px;
    }


    .contact_h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
   
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
    }
    .figure-template {
        height: 50vh;
    }
    .white-section {
        padding: 5em;
    }
    .blue-section {
        padding: 5em;
    }
    .section-template p {
        font-size: 1em;
    }
    .article-template h2 {
        font-size: 2em !important;
    }
    .cards-discovery {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .img-discovery {
        min-width: 100%;
        border-radius: 30px;
    }
    .card-discovery {
        border-radius: 30px;
        background-color: #fff;
        text-align: center;
        margin: 1vw 3vw 1vw 3vw;
    }
}

@media screen and (min-width: 1024px) {
    .desktop_only {
        display: flex;
    }
    .cta--burger {
        display: none;
    }
    .contact_h1 {
        font-size: 3.5rem;
        margin-top: 20px;
        line-height: 3.5rem;
    }
}

@media screen and (min-width: 1224px) {
    #hero {
        height: 80vh;
    }
    .figure-template {
        height: 50vh;
    }
    .white-section {
        padding-left: 12em;
        padding-right: 12em;
    }
    .blue-section {
        padding-left: 12em;
        padding-right: 12em;
    }
    .section-template p {
        font-size: 1.5em;
    }
    .article-template h2 {
        margin-top: 40px;
    }
    .contact_h1 {
        margin-top: 50px;
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media screen and (min-width: 1824px) {
    #hero {
        height: 80vh;
    }
    .contact_h1 {
        margin-top: 50px;
        font-size: 6rem;
        line-height: 6rem;
    }
    .figure-template {
        height: 50vh;
    }
    .white-section {
        padding-left: 14em;
        padding-right: 14em;
    }
    .blue-section {
        padding-left: 14em;
        padding-right: 14em;
    }
    .section-template p {
        font-size: 1.8em;
    }
}


/*------media queries end-------*/