/*------ common elements --------*/

body {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.desktop_only {
    display: none;
}

.primary-500 {
    color: #71A5DE;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}


/* menu  burger*/

.cta--burger {
    position: absolute;
    top: 10px;
    right: 23px;
    height: 17px;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.cta--burger .trait {
    height: 2px;
    width: 100%;
    background-color: #000;
}

.menu--burger {
    height: 100vh;
    width: 45%;
    background-color: black;
    color: whitesmoke;
    opacity: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
}

.menu--burger ul li {
    list-style: none;
    text-align: left;
    padding-top: 5px;
}

.menu--burger ul {
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 0;
}


/* menu  burger end*/

.nav_li {
    list-style: none;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.nav_li:hover {
    color: #0C4495;
    /*texte se colore en bleu au survol*/
}

header ul li a {
    text-decoration: none;
}

.cta_primary {
    height: 35px;
    border-radius: 30px;
    background-color: #0C4495;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.cta_primary:hover {
    background: linear-gradient(#0C4495, #011A71);
    /*background dégradé bleu au survol*/
}

.cta_primary a {
    color: white;
    height: 20px;
}

.logo {
    height: 60px;
    width: 90px;
    padding-left: 5px;
    padding-top: 0;
    margin-top: 0;
}

h1 {
    font-size: 40px;
    font-family: 'Coiny', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Coiny', cursive;
}


/*------ common elements end--------*/


/*------ welcome page --------*/

.welcome h1 {
    position: relative;
    text-align: center;
    margin-top: 0px;
}

#hero {
    height: 300px;
    width: 100%;
    background-image: url(assets/landscape1.jpg);
    background-size: cover;
    background-position-y: -0px;
}

.welcome main h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}


/*------welcome page end-------*/


/*------contact page-------*/

.contact body {
    font-family: "Fjalla One";
}

.contact_h1 {
    color: black;
    font-size: 3rem;
    font-family: "Coiny";
    margin: 25px auto;
    line-height: 3rem;
    text-align: center;
    top: 0px;
}

h1 strong {
    color: #0C4495;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    border-color: white;
}

.contact_form #fname,
#lname,
#email,
#comments {
    min-width: 320px;
    max-width: 1000px;
    padding: 12px 12px;
    margin-top: 5px;
    border: 1px solid #F8F600;
    border-radius: 5px;
    background-color: #FEFDCC;
}

.contact #checkbox {
    margin-bottom: 30px;
}

.contact_form p {
    font-family: "Fjalla One";
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.contact_form input[type='submit'] {
    font-size: 1em;
    padding: 7px 20px;
    font-weight: 300;
    border: 1px solid #0C4495;
    border-radius: 30px;
    background-color: #0C4495;
    color: white;
}


/*------contact page end-------*/


/*------template page 1-------*/

/* ------ culture page ------- */ 

.culture_h1{
    padding-left: 20px;
}
.parentBox{
    box-sizing: border-box;
    display: block;
    /*margin-left: 200px; le faire en padding*/
    position: relative;
    width: 80%;
    height: 224px;
}
.child1{
    box-sizing: content-box; 
    position: absolute;   
    padding-left: 20px;
}

.child1 img{
    box-sizing: content-box;
    border : 6px solid #0C4495;
    height: 95px;  
    border-radius: 20px;
    z-index: -1;
    position: absolute;
}

.child2{
    box-sizing: content-box;
    background-color: #0C4495;
   /* padding: -100px;*/
    padding-left: 10px;
    margin-left: 60px;
    height : 100px;
    width: 55%;
    margin-top: 50px;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    font-size: 10px;
    
}

.child2 h2{
    color: #FF67A3;
    font-size: 12px;
}


/* 2eme Box */ 

.section2{
    background-color: #0C4495;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.child3{
    box-sizing: content-box; 
    position: absolute;   
    padding-left: 20px;
    background-color: white;
    padding-top: 30px;
    /*margin-top: 90px;*/
    /*width: 100%;*/
}

.child3 img{
    box-sizing: content-box;
    border : 6px solid #0C4495;
    height: 95px;  
    border-radius: 20px;
    z-index: 0;
    position: absolute;
    
}

.child4{
    box-sizing: content-box;
    background-color: white;
   /* padding: -100px;*/
   /* padding-left: 10px;*/
    margin-left: 60px;
    /*height : 100px;*/
    width: 55%;
    margin-top: 90px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    font-size: 10px;
    
}


.child4 h2{
    color: #FF67A3;
    font-size: 12px;
}


/* 3eme Box */ 

.child5{
    box-sizing: content-box; 
    position: absolute;   
    padding-left: 20px;
    /*margin-top: 200px;*/
}

.child5 img{
    box-sizing: content-box;
    border : 6px solid #0C4495;
    height: 95px;  
    border-radius: 20px;
    z-index: -1;
    position: absolute;
    margin-top: 300px;
}

.child6 h2{
    color: #FF67A3;
    font-size: 12px;
}

.child6{
    box-sizing: content-box;
    background-color: #0C4495;
   /* padding: -100px;*/
    padding-left: 10px;
    margin-left: 60px;
    height : 100px;
    width: 55%;
    margin-top: 350px;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    font-size: 10px;
    
}

/* ------ culture page end ------- */ 




/*------template page 1 end-------*/

/*------template page 2-------*/

.title-template {
    display: block;
}

.section-template {
    overflow: hidden;
}

.article-template h2 {
    color: #FF67A3;
    font-size: 18px !important;
    line-height: 80%;
    margin-top: 20px;
}

.section-template p {
    font-size: 0.5em;
}

.blue-section {
    background-color: #0C4495;
    background-image: url(assets/Asset\ 2logo.svg);
    background-size: 120%;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding: 1.5em;
}

.white-section {
    padding: 1.5em;
}

.figure-template {
    height: 25vh;
}

.article-template {
    padding: 1em;
    margin-left: 6em;
    margin-top: -2em;
    background: #fff;
    border: 5px solid #0C4495;
    border-radius: 20px;
}

img {
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    width: 70%;
    border: 5px solid #0C4495;
}


/* Discovery cards */

.section-cards-discovery {
    background-color: #AECBEB;
    padding-top: 3px;
    padding-bottom: 3px;
}

.section-cards-discovery h2 {
    color: #fff;
    font-size: 2em !important;
    margin: 0px;
}

.cards-discovery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.card-discovery a {
    text-decoration: none;
    color: #0C4495;
}

.title-discovery {
    font-size: 1em;
    color: #0C4495;
}

.img-discovery {
    border-radius: 30px;
    min-width: 100%;
    box-sizing: border-box;
}

.card-discovery {
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    margin: 2vw 10vw 2vw 10vw;
}

.card-discovery :hover {
    border: 3px solid #0C4495;
    transition: .5s;
    transform: translate(5px, -5px);
}


/*------template page 2 end -------*/



/*------media queries-------*/

@media screen and (min-width: 321px) {
    #hero {
        width: 100%;
        background-image: url(assets/landscape1.jpg);
        background-size: cover;
        background-position-y: -0px;
        height: 400px;
    }
}

@media screen and (min-width: 768px) {
    .desktop_only {
        display: flex;
    }
    .cta--burger {
        display: none;
    }
    .logo {
        height: 80px;
        width: 170px;
        padding-left: 20px;
    }
    #hero {
        width: 100%;
        background-image: url(assets/landscape1.jpg);
        background-size: cover;
        background-position-y: -10px;
        height: 500px;
    }
    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
    }
    .figure-template {
        height: 50vh;
    }
    .white-section {
        padding: 5em;
    }
    .blue-section {
        padding: 5em;
    }
    .section-template p {
        font-size: 1em;
    }
    .article-template h2 {
        font-size: 2em !important;
    }
    .cards-discovery {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .img-discovery {
        min-width: 100%;
        border-radius: 30px;
    }
    .card-discovery {
        border-radius: 30px;
        background-color: #fff;
        text-align: center;
        margin: 1vw 3vw 1vw 3vw;
    }
}

@media screen and (min-width: 1224px) {
    #hero {
        width: 100%;
        background-image: url(assets/landscape1.jpg);
        background-size: cover;
        background-position-y: -200px;
        height: 600px;
    }
    .figure-template {
        height: 50vh;
    }
    .white-section {
        padding-left: 12em;
        padding-right: 12em;
    }
    .blue-section {
        padding-left: 12em;
        padding-right: 12em;
    }
    .section-template p {
        font-size: 1.5em;
    }
    .article-template h2 {
        font-size: 3em !important;
        margin-top: 40px;
    }
}

@media screen and (min-width: 1824px) {
    #hero {
        width: 100%;
        background-image: url(assets/landscape1.jpg);
        background-size: cover;
        background-position-y: -450px;
        height: 700px;
    }
    .figure-template {
        height: 50vh;
    }
    .white-section {
        padding-left: 14em;
        padding-right: 14em;
    }
    .blue-section {
        padding-left: 14em;
        padding-right: 14em;
    }
    .section-template p {
        font-size: 1.8em;
    }
}


/*------media queries end-------*/


/*------footer-------*/

.footer {
    margin-top: 20px;
    background-color: #0C4495;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 50px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: #fff;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-logo-container {
    max-width: 50vw;
}

.logo-footer {
    max-width: 100%;
    margin-top: 20px;
    margin-left: -30px;
}

.footer-menu {
    margin: 10px 0px 20px 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-menu-list {
    list-style: none;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
}

.footer-newsletter {
    margin: 10px 0px 20px 30px;
}

#email-newsletter {
    padding: 5px 5px;
    margin-top: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #FEFDCC;
}

.social-menu {
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.social-menu i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    background-color: #FF67A3;
}

.social-menu i:before {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.social-menu a {
    text-decoration: none;
}

.social-menu i:hover {
    opacity: .7;
    border-radius: 0;
}

.footer-copyright {
    background-color: #0C4495;
    ;
    color: #fff;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}


/*------footer end-------*/