body {
    margin : 0 auto;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style : none;
    
}

#bzhlogo {
    float: left;
    height: 70px;
    width: 70px;
}

h1 {
    color:blue;
}

#hero {
    height: 525px;
    background-image: url(assets/landscape_bzh2.jpg);
    background-size: cover;
    background-position-y: -50px;

}